.background-video {
  position: fixed;
  z-index: -1;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.headline {
  overflow: hidden;
  z-index: 1;
  border-right: 0.1em solid white;
  border-width: 18px;
  padding-right: 0px;
  width: 25ch;
  margin-right: -0.2em;
  white-space: nowrap;
  animation: typing-headline 3s steps(32, end) forwards,
    blinking-headline 0.75s step-end infinite 0.5s,
    remove-border 0.01s forwards 3s;
  color: white;
  font-size: 45px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
}

.text-inside {
  overflow: hidden;
  z-index: 1;
  border-right: 0.1em solid white;
  border-width: 18px;
  padding-right: 0px;
  margin-right: -0.2em;
  width: 8ch;
  white-space: nowrap;
  color: rgb(182, 28, 28);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
  font-weight: bold;
  display: block;
  font-size: 45px;
  opacity: 0;
  animation: typing-inside 1.2s steps(8) forwards 3s,
    blinking-inside 0.75s step-end infinite 0.5s forwards,
    border-visible 0s forwards 3.1s;
}

@keyframes typing-inside {
  0% {
    width: 0;
  }
  100% {
    width: 8ch;
  }
}

@keyframes blinking-inside {
  50% {
    border-color: transparent;
  }
}

@keyframes border-visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
