#scholarship-section {
  width: 100%;
  overflow: hidden; /*hide part of image */
  position: relative;
  text-align: center;
}

#img-scholarship {
  width: 100%;
  height: 330px;
  max-height: 400px;

  object-position: top;
  object-fit: cover;
}

/*h2 element over image*/
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: azure;
  font-size: 30px;
  text-shadow: 1px 1px 2px black;
  width: 80%;
}

.about-us {
  margin-top: 20px;
}

.about-us h2 {
  font-size: 32px; /* Increased font size */
  color: #333;
  margin-bottom: 10px; /* Added margin for better spacing */
}

.yellow-line {
  width: 100px;
  height: 3px;
  background-color: yellow;
  margin: 10px auto;
}

#scholarship-section p {
  padding-top: 20px;
  line-height: 1.6;
  font-size: 18px;
  max-width: 800px;
  margin: 20px auto;
  text-align: justify;
}
.award {
  position: absolute;
  bottom: 135px;
}
